extend layout

block content

    a(href='#{spotUri}') #{artist}

    p
        |#{spotId}

block sidebar
  .widget
    h1 Spotify
        <iframe src="https://embed.spotify.com/?uri=spotify:track: 6tqzOYuE3lrNVPDgtF3MjM" width="300" height="380" frameborder="0"  allowtransparency="true"></iframe>
      
      