doctype
html
  head
    title Diggaren
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Diggaren
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p &copy; tjoflöjt : Mashup using 
        a(href='http://sverigesradio.se/sida/default.aspx?programid=2358') SR & 
        a(href='https://developer.spotify.com/web-api/') Spotify API
      
