doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Diggaren
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p &copy; tjoflöjt Using SR API & Spotify API